<h1>Add a new celebrity</h1>

<form action="/celebrities" method="post">
    <label for="name">Name</label>
    <input type="text" name="name" placeholder="Enter the name" />
    <br>
    <label for="occupation">Occupation</label>
    <input type="text" name="occupation" placeholder="Enter occupation" />
    <br>
    <label for="catchphrase">Catch Phrase</label>
    <br>
    <textarea name="catchphrase" cols="30" rows="10">   
    </textarea>
    <br>
    <button type="submit">Save</button>
</form>